@lattice_color: #c30;
@literal_color: #080;
@variable_color: #64f;

.borjes_fs {
    display: inline-block;
    border-collapse: collapse;
    text-align: left;
    border-radius: 1.0em;
    margin: 0.4em 0.3em;
    padding: 0.5em 0.5em;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-family: serif;
    vertical-align: middle;
    .borjes_feat {
        font-variant: small-caps;
        padding-right: 1ex;
    }
    th {
        margin-top: -0.5em;
        margin-bottom: 0.5em;
        font-weight: normal;
        cursor: pointer;
    }
}

.borjes_hidden {
    display: none;
}

.borjes_literal {
    font-style: italic;
    color: @literal_color;
}

.borjes_latticeel {
    font-style: italic;
    color: @lattice_color;
}

.borjes_variable {
    padding: 0px 2px;
    margin: 2px;
    border: 1px solid @variable_color;
    color: @variable_color;
    cursor: pointer;
}
